body {
  background-color: white;
  color: black;
}
a {
  color: #F55B58;
  text-decoration: none;
}
a.main {
  color: #F55B58;
  text-decoration: none;
}
a.main:hover {
  background-color: #F5CB2A;
  color: white;
}
h1 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2em;
    letter-spacing: -.021em;
}
h2 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2em;
    letter-spacing: -.021em;
}
h3 {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5em;
    text-transform: uppercase;
}
p {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
}
img {
  width: 100%;
  margin: auto;
}


.grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr)
}
.grid > div {
  font-size: 5vw;
}
.top {
  text-align: left;
  padding: 0 10;
}
.middle {
  width: 50%;
  margin: auto;
}
.bottom {
  text-align: right;
  padding: 0 10;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 177px;
  margin-left: -88.5px;
}
