@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;900&display=swap');


body {
  background-color: white;
  color: black;
  font-family: 'Raleway';
  font-weight: 300;
}
a {
  color: #F55B58;
  text-decoration: none;
}
a.main {
  color: #F55B58;
  text-decoration: none;
}
a.main:hover {
  background-color: #F5CB2A;
  color: white;
}
h1 {
  font-family: 'Raleway';
  font-weight: 900;
  color: #5C63DB;
}
h2 {
    font-family: 'Raleway', monospace;
    font-weight: 900;
    color: #5C63DB;
}
h3 {
    font-family: 'Raleway', monospace;
    font-weight: 500;
}
p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding-right: 5%;
}
img {
  width: 100%;
  max-width: 500px;
}

.top {
  text-align: left;
  padding: 0 10;
}
.middle {
  width: 50%;
  margin: auto;
}
.bottom {
  text-align: right;
  padding: 0 10;
}